.dynamic {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
}

.fixed_headers {
  border-collapse: collapse;
  width: 100%;
}
.fixed_headers td,
.fixed_headers thead th {
  padding: 5px;
  text-align: left;
}

.fixed_headers thead,
textarea {
  color: #fdfdfd;
}
.fixed_headers thead tr {
  position: relative;
}

.fixed_headers thead th {
  position: sticky;
  top: 0;
  resize: both;
  overflow: auto;
  min-width: 70px;
}

.fixed_headers tbody .td-resize {
  position: sticky;
  top: 0;
  resize: both;
  overflow: auto;
  min-width: 70px;
}

.fgoverflow {
  max-width: 700px;
  height: 100vh;
  overflow-x: auto;
}
.fgoverflow2 {
  max-width: 1100px;
  height: 100vh;
  overflow-x: auto;
}

.boardGrab {
  cursor: grab;
}

.scaleBigger:hover {
  scale: 1.1;
  z-index: 100;
}

.AddColumnDropdownButton:hover {
  color: #8b5cf6;
  width: 20px;
  height: 20px;
}

.ComfortableWithInitialsH {
  height: 30px;
}
.CompactWithInitialsH {
  height: 25px;
}
.ComfortableWithInitialsW {
  width: 30px;
}

.CompactWithInitialsW {
  width: 25px;
}
