.dynamic {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
}

.fixed_headers {
  border-collapse: collapse;
  width: 100%;
}
.fixed_headers td,
.fixed_headers thead th {
  padding: 5px;
  text-align: left;
}

.fixed_headers thead,
textarea {
  color: #fdfdfd;
}
.fixed_headers thead tr {
  position: relative;
}

.fixed_headers thead th {
  position: sticky;
  top: 0;
  resize: both;
  overflow: auto;
  min-width: 70px;
}

.fixed_headers tbody .td-resize {
  position: sticky;
  top: 0;
  resize: both;
  overflow: auto;
  min-width: 70px;
}

.fgoverflow {
  max-width: 700px;
  height: 100vh;
  overflow-x: auto;
}
.fgoverflow2 {
  max-width: 1100px;
  height: 100vh;
  overflow-x: auto;
}

.boardGrab {
  cursor: grab;
}

.scaleBigger:hover {
  scale: 1.1;
}

.littleBigger:hover {
  scale: 1.1;
}

.bigScale {
  scale: 1.1;
}

.AddColumnDropdownButton:hover {
  color: #8b5cf6;
  width: 20px;
  height: 20px;
}

.ComfortableWithInitialsH {
  height: 30px;
}
.CompactWithInitialsH {
  height: 20px;
}
.ComfortableWithInitialsW {
  width: 30px;
}

.CompactWithInitialsW {
  width: 20px;
}

.groupFiltalModal {
  position: absolute;
  width: 50%;
  background-color: white;
  min-height: 25vh;
  z-index: 100;
  margin: 20px 0 0 -50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.screenRecording {
  position: absolute;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 5vh;
  z-index: 100;
  margin: 10px 0 0 0px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
