.tooltip {
  position: relative;
  z-index: 999;
}

.tooltip::before,
.tooltip::after {
  width:auto;
  --scale: 0;
  --arrow-size: 0px;
  --tooltip-color: #333;
  position: absolute;
  top: -0.15rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 100ms transform;
  transform-origin: bottom center;
}
.tooltip::after {
  content: ' ';
  width: 0;
  height: 1px;
  border-style: solid;
  border-width: 6px 6.5px 0 6.5px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: -1;
}

.tooltip::before {
  font-size: 8px;
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  white-space: nowrap;
  padding: 0 0.4rem;
  border-radius: 0.1rem;
  text-align: center;
  background: var(--tooltip-color);
  z-index: 999;
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}