.stack {
  position: relative;
  border-radius: 50%;
  outline: 1px solid #fff;
}

.hii {
  font-size: 14px;
  gap: 10px;
  text-transform: capitalize;
  padding-left: 20px;
  color: red;
}

.scrollbarDynCol {
  min-height: 500px;
  max-height: 500px;
  background: #fff;
  overflow-y: hidden;
}
.scrollbarDynCol:hover {
  overflow-y: auto;
}

.singleLineView {
  height: 20px;
}

.CompactView {
  min-height: 60px;
}
