.App {
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4338ca;
  border-color: #4338ca;
}
.ant-table-thead .ant-table-cell {
  background-color: white;
  color: rgb(170, 170, 170);
}
